@import './material-colors';

:root,
[data-cho-theme='dark'] {
  --primary: var(--blue200);
  --text-color: var(--white);
  --button__text-color: var(--black);

  color: var(--text-color);
}

:root,
[data-cho-theme='light'] {
  --primary: var(--blue);
  --text-color: var(--black);
  --button__text-color: var(--white);

  color: var(--text-color);
}
