@mixin surface-inner-space {
  padding: 0.5rem 1rem;
}

@mixin surface-leading-space {
  margin-right: 0.5rem;
}

@mixin surface-trailing-space {
  margin-left: 0.5rem;
}

@mixin surface-bottom-space {
  margin-top: 0.25rem;
}

@mixin surface-top-space {
  margin-bottom: 0.25rem;
}
