@import '../../../global/style';

:host {
  display: inline-block;
}

.button {
  @include button-without-defaults();

  background-color: var(--primary);
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
  color: var(--button__text-color);
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:focus {
      border-color: var(--primary);
    }

    &:hover {
      background-color: var(--primary);

      &:active {
        background-color: var(--primary);
      }
    }
  }

  // #region "Children"
  * {
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
  }
  // #endregion "Children"
}
