@mixin checkbox-enabled(
  $focusColor,
  $checkedFocusColor,
  $hoverColor,
  $checkedHoverColor,
  $activeColor,
  $checkedActiveColor
) {
  &:not([data-disabled='true']) {
    &:focus {
      .checkbox-custom {
        background-color: $focusColor;

        &[data-checked='true'] {
          background-color: $checkedFocusColor;
        }
      }
    }

    &:hover {
      .checkbox-custom {
        background-color: $hoverColor;

        &[data-checked='true'] {
          background-color: $checkedHoverColor;
          border-color: $checkedHoverColor;
        }
      }

      &:active {
        .checkbox-custom {
          background-color: $activeColor;

          &[data-checked='true'] {
            background-color: $checkedActiveColor;
            border-color: $checkedActiveColor;
          }
        }
      }
    }
  }
}

:host {
  display: inline-block;
}

.checkbox-custom {
  background-color: transparent;
  border: solid var(--surface__border-color);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  height: 1rem;
  position: relative;
  top: 0;
  width: 1rem;

  &[data-label-placement='start'] {
    @include surface-trailing-space();

    right: 0;
  }

  &[data-label-placement='end'] {
    @include surface-leading-space();

    left: 0;
  }

  &[data-label-placement='top'] {
    @include surface-top-space();
  }

  &[data-label-placement='bottom'] {
    @include surface-bottom-space();
  }

  &::after {
    border: solid var(--button__text-color);
    border-radius: var(--border-radius);
    border-width: 0 var(--border-width) var(--border-width) 0;
    content: '';
    height: 0;
    left: 0.5rem;
    opacity: 1;
    position: absolute;
    top: 0.5rem;
    transform: rotate(0deg) scale(0);
    width: 0;
  }

  &[data-disabled='true'] {
    border-color: var(--disabled);
  }
}

.checkbox-label {
  @include checkbox-enabled(
    var(--surface__color--focus),
    var(--primary--focus),
    var(--surface__color--hover),
    var(--primary--hover),
    var(--surface__color--active),
    var(--primary--active)
  );

  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;

  &[data-label-placement='top'] {
    flex-direction: column;
  }

  &[data-label-placement='bottom'] {
    flex-direction: column;
  }

  &[data-disabled='true'] {
    * {
      color: var(--disabled);
    }
  }

  &:not([data-disabled='true']) {
    cursor: pointer;
  }
}

.checkbox-input {
  cursor: pointer;
  opacity: 0;
  position: absolute;

  &:focus {
    + .checkbox-custom {
      background-color: var(--surface__color--focus);

      &[data-checked='true'] {
        background-color: var(--primary--focus);
        border-color: var(--primary--focus);
      }
    }
  }

  &:checked {
    ~ .checkbox-custom {
      background-color: var(--primary);
      border: solid var(--primary);
      border-radius: var(--border-radius);
      border-width: var(--border-width);
      opacity: 1;
      transform: rotate(0deg) scale(1);

      &::after {
        background-color: transparent;
        border: solid var(--button__text-color);
        border-radius: 0;
        border-width: 0 var(--border-width) var(--border-width) 0;
        height: 0.5rem;
        left: 0.375rem;
        opacity: 1;
        top: 0.0938rem;
        transform: rotate(45deg) scale(1);
        width: 0.1875rem;
      }

      &[data-indeterminate='true'] {
        &::after {
          border-width: 0 var(--border-width) 0 0;
          top: 0.1563rem;
          transform: rotate(90deg) scale(1);
        }
      }

      &[data-disabled='true'] {
        background-color: var(--disabled);
        border-color: var(--disabled);
      }
    }
  }
}
