:host {
  display: inline-block;
}

textarea {
  min-height: 2rem;
  min-width: 2rem;
}

.text-field__input-container {
  align-items: center;
  border: solid var(--surface__border-color);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: center;
  width: 100%;

  &[data-error='true'] {
    border-color: var(--error);

    ::slotted([slot='leading']) {
      color: var(--error);
    }

    ::slotted([slot='trailing']) {
      color: var(--error);
    }
  }

  &:disabled {
    border-color: var(--disabled);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  ::slotted([slot='leading']) {
    @include surface-trailing-space();

    color: var(--surface__border-color);
    font-size: 1rem;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  ::slotted([slot='trailing']) {
    @include surface-leading-space();

    color: var(--surface__border-color);
    font-size: 1rem;
  }
}

.text-field__input {
  @include surface-inner-space-dense();

  background: none;
  border: none;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1rem;
  outline: none;
  width: 100%;

  /* stylelint-disable-next-line a11y/no-display-none */
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-appearance: none;
    display: none;
  }

  &[data-error='true'] {
    &::placeholder {
      color: var(--placeholder-color--error);
    }
  }

  &:read-only {
    cursor: default;
  }

  &::placeholder {
    color: var(--placeholder-color);
  }

  &:disabled {
    color: var(--disabled);

    &::placeholder {
      color: var(--placeholder-color--disabled);
      font-style: italic;
    }
  }
}

.text-field__label-content {
  @include surface-top-space();

  color: var(--label-color);
  font-size: 0.8125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &[data-disabled='true'] {
    color: var(--disabled);
  }

  &[data-error='true'] {
    color: var(--error);
  }
}

.text-field__helper-text {
  @include surface-bottom-space();

  color: var(--label-color);
  font-size: 0.8125rem;

  &[data-disabled='true'] {
    color: var(--disabled);
  }

  &[data-error='true'] {
    color: var(--error);
  }
}

.text-field__label {
  &:not([data-disabled='true']) {
    .text-field__input-container {
      &[data-input-focus='true'] {
        border-color: var(--error--focus);
      }

      &:focus {
        border-color: var(--error--focus);
      }

      &:hover {
        border-color: var(--error--hover);

        &:active,
        [data-input-focus='true'] {
          border-color: var(--error--active);
        }
      }
    }

    &:not([data-error='true']) {
      /* stylelint-disable-next-line no-descending-specificity */
      .text-field__input-container {
        &[data-input-focus='true'] {
          border-color: var(--primary--focus);
        }

        &:focus {
          border-color: var(--primary--focus);
        }

        &:hover {
          border-color: var(--primary--hover);

          /* stylelint-disable-next-line max-nesting-depth */
          &:active {
            border-color: var(--primary--active);
          }
        }
      }
    }
  }
}
