:host {
  display: inline-block;
}

.tooltip-container {
  position: relative;
}

.tooltip-title {
  @include surface-inner-space-dense();

  background-color: var(--surface__background-color);
  box-sizing: border-box;
  font-size: var(--label__font-size);
  position: absolute;
  z-index: var(--overlay-z-index);
}
